<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103064234419-5f3ibq3b95b3o1cbiqg2vv8l078ci3r3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103064234419-5f3ibq3b95b3o1cbiqg2vv8l078ci3r3</string>
	<key>API_KEY</key>
	<string>AIzaSyAHQsVsSy6AF03upIqFWmto-X0uWGOsS5g</string>
	<key>GCM_SENDER_ID</key>
	<string>103064234419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.pastre.mvvm-lg</string>
	<key>PROJECT_ID</key>
	<string>mvvm-lg</string>
	<key>STORAGE_BUCKET</key>
	<string>mvvm-lg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103064234419:ios:c7bfcb04f9f51a77cf43c6</string>
	<key>DATABASE_URL</key>
	<string>https://mvvm-lg-default-rtdb.firebaseio.com</string>
</dict>
</plist>